.App {
  text-align: center;
  color: #543855;
}
.title{
  padding: 10px;
  font-weight: bold;
  font-family: "Segoe UI";
  color: #543855;
}
div{
  margin: 10px;
}

.song{
  background-color: WHITE;
  padding: 10px;
  margin: auto;
  width: 50%;
  height: 50%;
  text-align: center;
}
button{
  padding: 10px 25px 8px;
  color: #fff;
  background-color: #FF7F50;
  text-shadow: rgba(0,0,0,0.24) 0 1px 0;
  font-size: 16px;
  border: 1px solid #FF7F50;
  border-radius: 2px;
  margin-top: 10px;
  cursor:pointer;
}
button:hover {
  background-color: #FF6347;
}